---
title: Home page
published: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    {{ 'styles.css' | stylesheet_tag }}
    <title>{{ site.name }}</title>
    <meta name="keywords" value="{{ site.meta_keywords }}" />
    <meta name="description" value="{{ site.meta_description }}" />
  </head>
  <body class="{{ page.slug }}">
    <header>
      <a href="/">
        <img class="logo" src="{{ 'logo.png' | theme_image_url }}"/>
      </a>
      {% nav site, depth: 2, no_wrapper: false, exclude: nil, icon: false %}
      <!-- nav class="global">
        <ul>
          <li><a href="#">Nieuws</a></li>
          <li>
            <a href="#">Cursussen</a>
            <ul>
              <li><a href="#">Interieur</a></li>
              <li><a href="#">Mode</a></li>
              <li><a href="#">Wedding</a></li>
            </ul>
          </li>
          <li><a href="#">Partners</a></li>
          <li><a href="#">Docenten</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav-->
    </header>
    <img class="mast" src="{% editable_file 'masthead' %}http://placehold.it/979x569{% endeditable_file %}">
    <div id="main">
    {% block 'main' %}
    
    <div class="ads">
      {% for ad in contents.ads %}
        <a href="{{ ad.link }}">
          <img src="{{ ad.image.url }}" title="{{ ad.title }}" alt="{{ ad.title }}"/>
        </a>
      {% endfor %}
    </div>
    
    {% include courses with courses: contents.courses %}
    
    {% endblock %}
    </div>
    {% if category-color and page.slug != "index" %}
    <footer style="background-color: {{ category-color }}">
    {% else %}
    <footer>
    {% endif %}
      <img src="{{ 'logo_footer.png' | theme_image_url }}" >
      {% nav content, depth: 1, no_wrapper: false, exclude: nil, icon: false %}
    </footer>
  </body>
</html>