---
title: Home page
published: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    {{ 'styles.css' | stylesheet_tag }}
    <title>{{ site.name }}</title>
    <meta name="keywords" value="{{ site.meta_keywords }}" />
    <meta name="description" value="{{ site.meta_description }}" />
  </head>
  <body class="{{ page.slug }}">
    <header>
      <a href="/">
        <img class="logo" src="{{ 'logo.png' | theme_image_url }}"/>
      </a>
      {% include 'navigation' %}
    </header>
    {% block 'mast' %}
    <img class="mast" src="{% editable_file 'masthead' %}http://placehold.it/979x569{% endeditable_file %}">
    {% endblock %}
    <div id="main">
    {% block 'main' %}
    
    <div class="ads">
      {% for ad in contents.ads %}
        <a href="{{ ad.link }}">
          <img src="{{ ad.image.url }}" title="{{ ad.title }}" alt="{{ ad.title }}"/>
        </a>
      {% endfor %}
    </div>
    
    <div class="courses">
    {% for meeting in contents.meetings %}
      {% assign current_course = meeting.course._slug | append: '%' %}
      {% unless used_courses contains current_course %}
        {% capture used_courses %}{{ used_courses }}{{ current_course }}{% endcapture %} 
        {% assign course = meeting.course %}
        {% include summary with course %}
      {% endunless %}
    {% endfor %}
    </div>
    
    {% endblock %}
    </div>
    {% if category-color and page.slug != "index" %}
    <footer style="background-color: {{ category-color }}">
    {% else %}
    <footer>
    {% endif %}
      <img src="{{ 'logo_footer.png' | theme_image_url }}" >
      {% nav content, depth: 1, no_wrapper: false, exclude: nil, icon: false %}
      <div id="newsletter">
        <form method="post" action="https://cursuscollege.email-provider.nl/subscribe/post/index.php" accept-charset="utf-8">
        <input type="hidden" name="next" value="" />
        <input type="hidden" name="a" value="0dcqc4s85l" />
        <input type="hidden" name="l" value="bzuth0ymw8" />
        <input type="text" name="xGDX3bAfDk" id="id-xGDX3bAfDk" placeholder="Jouw e-mailadres">
        <input type="submit" value="Schrijf mij in voor de nieuwsbrief" />
        </form>
      </div>
      <div id="social">
        <a href="https://www.facebook.com/CursusCollege?ref=hl"><img src="{{ 'facebook.png' | theme_image_url }}"/></a>
        <a href="http://www.twitter.com/CursusCollege"><img src="{{ 'twitter.png' | theme_image_url }}"/></a>
        <a href="https://www.linkedin.com/in/cursuscollege"><img src="{{ 'linkedin.png' | theme_image_url }}"/></a>
        <a href="http://www.pinterest.com/CursusCollege"><img src="{{ 'pinterest.png' | theme_image_url }}"/></a>
      </div>
    </footer>
  </body>
</html>