---
title: Course template

# true if the page is included in the menu
listed: false

# true if the page is published
published: true

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
content_type: courses

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends index %}

{% block main %}

{% assign category-color = course.category.color %}
<div class="top">
  <div class="sidebar">
    <div class="meetings">
      {% for meeting in course.meetings %}
        {% if forloop.index0 < 2 %}
        <div class="meeting">
          <div style="border-color: {{ category-color }}">
            <dl>
              <dt>START</dt>
              <dd>{{ meeting.start | localized_date: '%d-%m-%Y' }}</dd>
              <dt>DUUR</dt>
              <dd>{{ meeting.period }}</dd>
              <dt>TIJD</dt>
              <dd>{{ meeting.start | localized_date: '%H:%M' }}</dd>
              <dt>LOCATIE</dt>
              <dd>{{ meeting.location }}</dd>
              <dt>DOCENT</dt>
              <dd>{{ meeting.teacher }}</dd>
              <dt>PRIJS</dt>
              <dd>&euro; {{ meeting.price }} incl. BTW</dd>
              <dt>CURSUSNUMMER</dt>
              <dd>{{ meeting.number }}</dd>
            </dl>
          </div>
          <a href="{{ meeting.payment_url }}">
            <div class="btn" style="background-color: {{ category-color }}">
              <span>Schrijf je in</span>
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="testimonials" style="border-color: {{ category-color }}">
      <h1>Testimonials</h1>
      {% for testimonial in course.testimonials %}
      <div class="testimonial">
        <span>{{ testimonial.quote }}</span><br/>
        <span>{{ testimonial.author }}</span>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="details contentbox" style="border-color: {{ category-color }}">
    <article class="course">
      <img class="category" src="http://placehold.it/119x227">
      <header>
        <hgroup>
          <h1 style="color: {{ category-color }}">{{ course.title }}</h1>
          <h2 style="color: {{ category-color }}">{{ course.category.title }}</h2>
        </hgroup>
      </header>
      <img class="featured" src="{{ course.image.url }}">
      <p>{{ course.description }}</p>
    </arcticle>
  </div>
</div>
<br/>
<div class="related" >
  <header style="background-color: {{ category-color }}">
    <h3>Andere Cursussen</h3>
  </header>
  {% include categories %}

  <div class="courses">
  {% for meeting in contents.meetings %}
    {% assign current_course = meeting.course._slug | append: '%' %}
    {% unless used_courses contains current_course %}
      {% capture used_courses %}{{ used_courses }}{{ current_course }}{% endcapture %} 
      {% assign thiscourse = meeting.course %}
      {% if thiscourse.category.title == course.category.title %}
        {% include summary with course: thiscourse %}
      {% endif %}
    {% endunless %}
  {% endfor %}
  </div>
</div>

{% endblock %}
