---
title: Course template

# true if the page is included in the menu
listed: false

# true if the page is published
published: true

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
content_type: courses

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block main %}

{% assign category-color = course.category.color %}
  
<div class="details contentbox" style="border-color: {{ category-color }}">
  <article class="course">
    <img class="category" src="http://placehold.it/119x227">
    <header>
      <hgroup>
        <h1 style="color: {{ category-color }}">{{ course.title }}</h1>
        <h2 style="color: {{ category-color }}">{{ course.category.title }}</h2>
      </hgroup>
    </header>
    <img class="featured" src="{{ course.image.url }}">
    <p>{{ course.description }}</p>
  </arcticle>
</div>
<br/>
<div class="related" >
  <header style="background-color: {{ category-color }}">
    <h3>Andere Cursussen</h3>
  </header>
  {% include categories %}
  {% include courses with courses: course.category.courses %}
</div>

{% endblock %}
